@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #70c1ff, #498ffc);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  button {
    padding: 10px;
    background-color: #fff;
    color: #498ffc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #70c1ff;
  }
  .back-button {
  float: right;
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to bottom right, #70c1ff, #498ffc);
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.back-button:hover {
  background: linear-gradient(to bottom right, #498ffc, #70c1ff);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to style the switch */
#switch-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#card-switch {
  display: none;
}

/* Style the label as a sliding switch */
#switch-container label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

/* Style the slider (the moving part of the switch) */
#switch-container label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #498ffc;
  transition: transform 0.3s ease-in-out;
  left: 0;
  top: 0;
}

/* Style the slider when the switch is in the 'on' state */
#card-switch:checked + label::after {
  transform: translateX(30px);
}

/* Style the switch label text */
#switch-container label::before {
  content: " ";
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

/* Style the label text when the switch is in the 'on' state */
#card-switch:checked + label::before {
  color: #498ffc;
}

  
  @media (max-width: 480px) {
    .card {
      width: 100%;
      max-width: 350px;
    }
  }
  
  /* Add this to your existing CSS */
