@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 100%;
    background-color: #f2f2f2;
}

.top-bar {
    background-color: #005b96;
    width: 100%;
    height: 20px;
}

.top-right-content {
    float: right;
    color: #f2f2f2;
    font-size: 0.7rem;
}

.title-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
}

.logo-title {
    flex-grow: 1;
    text-align: center;
}

.slider-container {
    width: 100%;
    max-width: 100%; /* Adjusted to 100% for responsiveness */
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-group {
    margin-top: 20px;
    border: 1px solid #abadb0;
    border-radius: 10px;
    padding-top: 10px;
}

.card-img-top {
    border-radius: 50%;
}

.strut-image {
    margin-left: 20px;
    margin-top: 20px;
    width: 100%; /* Adjusted to 100% for responsiveness */
    max-width: 400px; /* Added max-width for responsiveness */
    height: 480px; /* Adjusted to auto for responsiveness */
    border: 1px solid #abadb0;
    border-radius: 10px;
}

.strut-image img {
    width: 100%; /* Adjusted to 100% for responsiveness */
    height: 475px; /* Adjusted to auto for responsiveness */
    padding: 10px;
}

.custom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Adjusted to 100% for responsiveness */
}

.custom-card img {
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 120px;
    max-width: 100px; /* Adjusted to 100% for responsiveness */
    height: auto;
    max-height: 120px; /* Adjusted to auto for responsiveness */
}

.custom-card h5.card-title {
    font-size: 1rem;
}

.custom-card p.card-text {
    font-size: 0.8rem;
}

.footer-bottom {
    margin-top: 20px;
    width: 100%;
    background-color: #005b96;
    color: #f2f2f2;
}

.footer-bottom p {
    padding: 20px;
    font-size: 0.8rem;
}

.content {
    margin-top: 20px;
    text-align: justify;
    border: 1px solid #abadb0;
    border-radius: 10px;
    padding-top: 10px;
}

.image-container1{
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-image:  url("../images/home.jpg");
}
.icon{
    padding-top: 10px;
    text-align: center;
}

.text{
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.companies-container{
    margin-top: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.recruiters-head{
    padding-left: 60px;
}
.index-buttons{
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    
}
.index-buttons button{
    width: 175px;
    background-color: #f2f2f2;
    color: #005b96;
    padding: 5px;
    margin: 5px;
    border: none;
}
@media (max-width: 600px) {
    .logo{
        width: 70px;
        height: 70px;
    }
    .logo img{
        width:55px;
        height: 55px;
    }
    .logo-title h3,h5{
        font-size: .7rem;
    }
    .slider-container {
        max-width: 100%; /* Adjusted to 100% for responsiveness */
    }
    .title-container {
        max-width: 100%; /* Adjusted to 100% for responsiveness */
    }

    .slide {
        height: auto;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .strut-image {
        border: none;
        margin-left: 0px;
        width: 100%;
        max-width: 100%; /* Adjusted to 100% for responsiveness */
        height: auto;
    }

    .strut-image img {
        width: 100%;
        height: auto;
    }

    .custom-card {
        max-width: 100%; /* Adjusted to 100% for responsiveness */
    }
    .card-group{
        border: none;
    }
    .content{
        border: none;
    }
    .custom-card img {
        justify-content: center;
        align-items: center;
        max-width: 100%; /* Adjusted to 100% for responsiveness */
        height: auto;
    }
    .footer-bottom p {
        font-size: 0.5rem;
    }
    .footer-bottom {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        background-color: #005b96;
        color: #f2f2f2;
    }
}

@media (max-width: 991px) {
    .sidebar {
        background-color: #005b96;
        backdrop-filter: blur(10px);
    }
}
